<%= render "shared/second_header" %>

<div class="user-contents">
  <% if user_signed_in? && @user == current_user %>
    <h1>マイページ</h1>
  <% else %>
    <h1><%= @user.nickname %>さんのページ</h1>
  <% end %>
  <h2><%= @user.nickname %>さんのレビュー一覧</h2>
  <% if @user.reviews.blank? %>
    <h3><%= @user.nickname %>さんの投稿したレビューはありません</h3>
  <% else %>
    <ul class='review-lists'>
      <%= render partial: 'reviews/review', collection: @reviews %>
    </ul>
    <%= paginate @reviews %>
  <% end %>
  <h2><%= @user.nickname %>さんのお気に入りレビュー一覧</h2>
  <ul class='review-lists'>
    <% @user.like_reviews.includes({image_attachment: :blob}).each do |review| %>
      <%= render partial: 'reviews/review', locals: { review: review } %>
    <% end%>
  </ul>
</div>

  <div class="user-edit">
    <% if user_signed_in? && @user == current_user %>
        <%= link_to "アカウント情報編集", edit_user_registration_path, class: "user-edit-btn" %>
    <% end %>
  </div>