<div class='footer'>
  <div class='footer-contents'>
    <div class='bikke-details'>
      <h2 class='footer-content-head'>BIKKE!!について</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'BIKKE!!利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='bikke-details'>
      <h2 class='footer-content-head'>ライダーレビューを探す</h2>
      <ul>
        <li><%= link_to '車種一覧', "#", class: "footer-link" %></li>
        <li><%= link_to '排気量一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'メーカー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to '車種タイプ一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='bikke-details'>
      <h2 class='footer-content-head'>BIKKE!!について</h2>
      <ul>
        <li><%= link_to 'BIKKE!!ガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'BIKKE!!ロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("BIKKE!!logo.png", class:"logo-white"), "#" %>
  <p>© BIKKE!!</p>
</div>