<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <%= link_to image_tag("BIKKE!!logo.png", class:"bikke-icon"), root_path, class: "logo" %>
  <div class='nav'>
    <ul class='lists-signin'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
        <li><%= link_to "Post", new_review_path, class: "post-review" %></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %> 
        <li><%= link_to 'Guest', users_guest_sign_in_path, method: :post, class: "guestlogin" %></li>
        <li><%= link_to 'Sign in', new_user_session_path, class: "login" %></li>
        <li><%= link_to 'Sign up', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>