<% if user_signed_in? %>
  <%= form_with(model: [@review, @comment], local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div>
    <%= f.text_area :text, placeholder:"ライダーに質問やコメントなどをしてみましょう", class: :comment_text %>
  </div>
    <%= f.submit "コメントする", class: :comment_btn %>
    </div>
  <% end %>
<% end %>
<ul class="comments-lists">
  <% @comments.reverse_each do |comment| %>
    <li class="comments-list">
      <%= link_to comment.user.nickname, user_path(comment.user), class: "comment-user" %>さん
      <a class="comment-text"><%= comment.text %>
      <a class="comment-time"><%= l comment.created_at %>
      <% if current_user.id == comment.user_id %>
        <%= link_to "削除", review_comment_path(@review, comment), data: {confirm: "コメントを削除してもよろしいですか？"}, method: :delete, class: "comment-delete-btn" %>
      <% end %>
    </li>
  <% end %> 
</ul>